_cat
_echo
_forktest
_grep
_init
_kill
_ln
_ls
_mkdir
_rm
_sh
_stressfs
_usertests
_wc
_zombie
_hello
_hackbench
bio.d
bio.o
bootasm.d
bootasm.o
bootblock
bootblock.asm
bootblock.o
bootblockother.o
bootmain.d
bootmain.o
cat.asm
cat.d
cat.o
cat.sym
console.d
console.o
echo.asm
echo.d
echo.o
echo.sym
entry.o
entryother
entryother.asm
entryother.d
entryother.o
exec.d
exec.o
file.d
file.o
forktest.asm
forktest.d
forktest.o
fs.d
fs.img
fs.o
grep.asm
grep.d
grep.o
grep.sym
hackbench.asm
hackbench.d
hackbench.o
hackbench.sym
ide.d
ide.o
init.asm
init.d
init.o
init.sym
initcode
initcode.asm
initcode.d
initcode.o
initcode.out
ioapic.d
ioapic.o
kalloc.d
kalloc.o
kbd.d
kbd.o
kernel
kernel.asm
kernel.sym
kill.asm
kill.d
kill.o
kill.sym
lapic.d
lapic.o
ln.asm
ln.d
ln.o
ln.sym
log.d
log.o
lotterytest.d
ls.asm
ls.d
ls.o
ls.sym
main.d
main.o
mkdir.asm
mkdir.d
mkdir.o
mkdir.sym
mkfs
mp.d
mp.o
picirq.d
picirq.o
pipe.d
pipe.o
printf.d
printf.o
proc.d
proc.o
rand.d
rand.o
rm.asm
rm.d
rm.o
rm.sym
sh.asm
sh.d
sh.o
sh.sym
spinlock.d
spinlock.o
stressfs.asm
stressfs.d
stressfs.o
stressfs.sym
string.d
string.o
swtch.o
syscall.d
syscall.o
sysfile.d
sysfile.o
sysproc.d
sysproc.o
timer.d
timer.o
trap.d
trap.o
trapasm.o
uart.d
uart.o
ulib.d
ulib.o
umalloc.d
umalloc.o
usertests.asm
usertests.d
usertests.o
usertests.sym
usys.o
vectors.o
vectors.S
vm.d
vm.o
wc.asm
wc.d
wc.o
wc.sym
xv6.img
zombie.asm
zombie.d
zombie.o
zombie.sym
